---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Software Dev</h2>
		<p>I specialize in front end work, with professional experience across the whole stack: React, Vue, Django, PostgreSQL, harness.js, fastAPI, and Docker products. I have additional experience with Svelte in a journalism context, and experience with R + tidyverse, highcharts, D3.js, and Python in a data visualization and analysis context.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Hobbies</h2>
		<p>Music and dance take up a lot of my personal free time. Producing and mixing music as a DJ since 2021, and I have been dancing in some capacity since I was a kid! Outside of those, my other hobbies include cooking, hiking, and playing pickleball.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data Science and AI</h2>
		<p>I am interested in the impact of data science and artificial intelligence for the public good, learning about the capabilities of generative AI and continually seeking ways to utilize generative AI ethically and responsibly.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
